
{% load static %}

{% block curriculo %}

<!-- {% for nto in nto %}

        {{nto.user.id}}hh
  {{nto.user.username}}hhsssssss
{% endfor %}-->
<br><br>
<div class="col-12"><br><br>
    <div class="card border-0 shadow-sm ">
      <div class="card-body "><br><br>
        <div class="text-center">
          <h4 class="card-title font-weight-bold mb-4">Perfil - Currículo</h4>
          {% if notifi.sender.profile.banner %}
            <img src="{{ notifi.sender.profile.banner.url }}" class="rounded-circle img-fluid mb-3" alt="Foto do perfil">
          {% else %}
            {% if notifi.sender.instituicao.picture %}
              <img src="{{ notifi.sender.instituicao.picture.url }}" class="rounded-circle img-fluid mb-3" alt="Foto da instituição">
            {% endif %}
          {% endif %}
          <h4 class="card-widget__title text-dark">{{ notifi.sender.profile.nome }}</h4>
          <p class="text-muted">@{{ notifi.sender.username }}</p>
          <a class="btn btn-outline-success btn-lg btn-rounded px-5" href="/noti/nto/">Aceitar</a>
        </div>
      </div>
      <div class="card-footer bg-transparent">
        <div class="row">
          <div class="col-4 border-right">
           
          </div>
        
         {{notifi.id }}
      </div>{{dinheiro.curriculo.id}}
</h5></a>  <a href="/noti/{{ notifi.id }}/nto">    @{{ notification.sender.username }} </a>
        </div>

{% endblock %}