{% extends 'templade.html' %}
{% load static %}

{% block curriculo %}

<br><br>
<!--{{notifi.sender.curriculo.id}}-->


<div class="col-12">
  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <div class="text-center">
        <h1 class="card-widget__title text-dark font-weight-bold mb-4">Currículo</h1>
        {% if notifi.sender.profile.banner %}
          <img src="{{ notifi.sender.profile.banner.url }}" width="300" height="310" class="rounded-circle img-fluid mb-3" alt="Foto do perfil">
        {% else %}
          {% if notifi.sender.instituicao.picture %}
            <img src="{{ notifi.sender.instituicao.picture.url }}" width="300" height="310" class="rounded-circle img-fluid mb-3" alt="Foto da instituição">
          {% endif %}
        {% endif %}
        <h4 class="card-widget__title text-dark">{{ notifi.sender.profile.nome }}</h4>
        <p class="text-muted">@{{ notifi.sender.username }}</p>
        <a class="btn btn-outline-danger btn-rounded px-5" href="/voluntariado/{{notifi.sender.curriculo.id}}/pedir">Aceitar</a>
      </div>
    </div>

    <div class="card-footer bg-transparent">
      <div class="row">
        <div class="col-4 border-right">
          <div class="py-3">
            <h6 class="font-weight-bold">Telefone</h6>
            <p class="text-muted">{{ curriculo.telefone }}</p>
          </div>
        </div>
        <div class="col-4 border-right">
          <div class="py-3">
            <h6 class="font-weight-bold">Nome completo</h6>
            <p class="text-muted">{{ curriculo.user.first_name }} {{ curriculo.user.last_name }}</p>
          </div>
        </div>
        <div class="col-4">
          <div class="py-3">
            <h6 class="font-weight-bold">Habilidades</h6>
            <p class="text-muted">{{ notifi.sender.profile.habilidades }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 border-right">
          <div class="py-3">
            <h6 class="font-weight-bold">Sexo</h6>
            <p class="text-muted">{{ notifi.sender.profile.sexo }}</p>
          </div>
        </div>
        <div class="col-4 border-right">
          <div class="py-3">
            <h6 class="font-weight-bold">Formação</h6>
            <p class="text-muted">{{ notifi.sender.profile.formacao }}</p>
          </div>
        </div>
        <div class="col-4">
          <div class="py-3">
            <h6 class="font-weight-bold">Email</h6>
            <p class="text-muted">{{ notifi.sender.curriculo.email }}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>   
</div>


<!--{{ notifi.sender.nto.id }}aaaaaaaaa
contar{{noti.contar}}-->
  <!--
  <footer style="background-color: #dd1727;" class="footer text-center py-3" >
    <p class="text-white">Copyright © 
        <script>
            document.write(new Date().getFullYear());
        </script> 
        Sistema Dorcas. Todos os direitos reservados.
    </p>
</footer>-->

{% endblock %}