

{% load static %}
{% load crispy_forms_tags %}
{% block newpost %}


<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Editar voluntariado</h4>
                  <form method="post" enctype="multipart/form-data" action="" role="form">
                    {% csrf_token %}
                   
                    <div class="form-group">
                                          {{ form.titulo }}<span>Titulo</span>
                                       </div>
                    <div class="form-group">
                                    {{ form.horario }}<span>Horario</span>
                                       </div>
                    <div class="form-group">
                                       {{ form.funcao }}<span>Função</span>
                                    </div>
                    <div class="form-group">
                                       {{ form.qnt }}<span>Quantidade de pessoas necessarias</span>
                                    </div>
                    <div class="form-group">
                                       {{ form.tempo }}<span>Tempo de voluntariado</span>
                                    </div>
                    <div class="form-group">
                                        {{ form.idademin }}<span>Idade minima</span>
                                    </div>
                                    <div class="form-group">
                                        {{ form.telefone }}<span>Telefone</span>
                                           </div>
                        <div class="form-group">
                                           {{ form.cidade }}<span>Cidade</span>
                                        </div>
                        <div class="form-group">
                                           {{ form.bairro }}<span>Bairro</span>
                                        </div>
                        <div class="form-group">
                                           {{ form.rua }}<span>Rua</span>
                                        </div>
                        <div class="form-group">
                                            {{ form.numero }}<span>Número da cada</span>
                                        </div>
  
  <div class="row">
    <div class="col s12">
      <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
    </div>
  </div>


      <div class="field">
      <p class="control">
        <button type="submit">Enviar</button> 
      </p>
    </div>

    </form>
  </div>
</div>
</div>


{% endblock %}