<!--Tai-->
{% load static %}
{%load bootstrap%}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Sistema Dorcas</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/img2.png' %}">
        <!-- Pignose Calender -->
        <link href="{% static '/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
        <!-- Chartist -->
        <link rel="stylesheet" href="{% static '/plugins/chartist/css/chartist.min.css' %}">
        <link rel="stylesheet" href="{% static '/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
        <!-- Custom Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        

    </head> 

    <body style="background-color: #fff;">

        <!--*******************
            Preloader start
        ********************-->
        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <!--*******************
            Preloader end
        ********************-->

      {% include 'navBar.html' %} 
<br><br>
<br><br>
<div class="container mt-40">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td colspan="11" style="color: #bd5942;">
                                <center><b>Suas vagas de voluntariado</b></center>
                            </td>
                        </tr>

                        <tr>
                            <th></th>
                            <th scope="col">Título</th>
                            <th scope="col">Horário</th>
                            <th scope="col">Função</th>
                            <th scope="col">Quantidade de vagas</th>
                            <th scope="col">Tempo necessário </th>
                            <th scope="col">Idade mínima</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Data</th>
                            <th scope="col">Endereço</th>
                        </tr>
                    </thead>

                    <br />
                    <tbody>
                 {% for voluntariado in voluntario %}
                        <tr>
                            <th scope="row" style="color:#705049;">
                                {{voluntariado.user.username}}
                            </th>
                            <td>{{ voluntariado.titulo }}</td>
                            <td>{{voluntariado.horario}}</td>
                            <td>{{voluntariado.funcao}}</td>
                            <td>{{voluntariado.quantidadepessoas}}</td>
                            <td>{{ voluntariado.tempo}}</td>
                            <td>{{voluntariado.idademinima}}</td>
                            <td>{{ voluntariado.telefone}}</td>
                            <td>{{voluntariado.data}}</td>
                            <td colspan="2">{{voluntariado.cidade}}, {{voluntariado.bairro}}, {{voluntariado.rua}}, {{voluntariado.numero}}</td>
                            {% if request.user.is_authenticated %}
                            {% if user == voluntariado.user or perms.voluntariado.inst %}
                            <td>
                                <a href="/voluntariado/excluir/{{ voluntariado.id }}">
                                    <button  onclick="excluirVolunt()" type="submit" class="btn btn-sm" style="background-color: #e2725b; border: 0%; color: white;">Excluir</button>
                                </a>
                                <a href="/voluntariado/editar/{{ voluntariado.id }}">
                                    <button type="submit" class="btn btn-sm" style="background-color: #7ba05b; border: 0%; color: white;">Editar</button>
                                </a>
                            </td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9" style="color: black;">
                                <center>A Instituição não possui vagas de voluntariado.</center>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div id="excluirVolunt" class="alerta-marrom">
        Item excluído com sucesso!
    </div>


<style>
    .alerta-marrom {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #8B4513;
    color: #fff;
    font-weight: bold;

}
  .alerta-amarelo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ffdb58;
    color: #fff;
    font-weight: bold;
</style>
<script>
        // Função para exibir o alerta
        function excluirVolunt() {
            var alerta = document.getElementById("alerta");
            alerta.style.display = "block";
            setTimeout(function () {
                alerta.style.display = "none";
            }, 6000); // O alerta será ocultado após 3 segundos (3000 milissegundos)
        }
   
</script>



   <script src="{% static 'plugins/common/common.min.js' %}"></script>
        <script src="{% static 'js/custom.min.js' %}"></script>
        <script src="{% static  'js/settings.js' %}"></script>
        <script src="{% static 'js/gleek.js' %}"></script>
        <script src="{% static 'js/styleSwitcher.js' %}"></script>

        <!-- Chartjs -->
        <script src="{% static '/plugins/chart.js/Chart.bundle.min.js' %}"></script>
        <!-- Circle progress -->
        <script src="{% static '/plugins/circle-progress/circle-progress.min.js' %}"></script>
        <!-- Datamap -->
        <script src="{% static '/plugins/d3v3/index.js' %}"></script>
        <script src="{% static '/plugins/topojson/topojson.min.js' %}"></script>
        <script src="{% static '/plugins/datamaps/datamaps.world.min.js' %}"></script>
        <!-- Morrisjs -->
        <script src="{% static '/plugins/raphael/raphael.min.js' %}"></script>
        <script src="{% static '/plugins/morris/morris.min.js' %}"></script>
        <!-- Pignose Calender -->
        <script src="{% static '/plugins/moment/moment.min.js' %}"></script>
        <script src="{% static '/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
        <!-- ChartistJS -->
        <script src="{% static '/plugins/chartist/js/chartist.min.js' %}"></script>
        <script src="{% static '/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>

        <script src="{% static '/js/dashboard/menor.js' %}"></script>
        <script src="{% static '/js/dashboard/dashboard-1.js' %}"></script>
      </body></html>
  