<!--Trabalho Feito-->
{% extends 'templade.html' %}
{% load bootstrap %}
{% load static %}
{% block publicar %}
<div class="container">
    {% for voluntariado in voluntario %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class="row">
    {% endif %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title text-center">{{ voluntariado.titulo }}</h5>
            <br>
            <ul class="list-unstyled">
              <li class="list-group-item"><b>Horário:</b> {{ voluntariado.horario }}</li>
              <li class="list-group-item"><b>Função:</b> {{ voluntariado.funcao }}</li>
              <li class="list-group-item"><b>Quantidade de vagas:</b> {{ voluntariado.quantidadepessoas }}</li>
              <li class="list-group-item"><b>Tempo necessário:</b> {{ voluntariado.tempo }}</li>
              <li class="list-group-item"><b>Idade mínima:</b> {{ voluntariado.idademinima }}</li>
              <li class="list-group-item"><b>Cidade:</b> {{ voluntariado.cidade }}</li>
              <li class="list-group-item"><b>Rua:</b> {{ voluntariado.rua }}</li>
              <li class="list-group-item"><b>Número:</b> {{ voluntariado.numero }}</li>
              <li class="list-group-item"><b>Bairro:</b> {{ voluntariado.bairro }}</li>
              <li class="list-group-item"><b>Telefone:</b> {{ voluntariado.telefone }}</li>
            </ul>
            {% if request.user.is_authenticated %}
              {% if user == voluntariado.user or perms.voluntariado.inst %}
              <a href="/voluntariado/excluir/{{ voluntariado.id }}">
                <button type="button" class="btn btn-danger">Excluir</button>
              </a>
              <a href="/voluntariado/editar/{{ voluntariado.id }}">
                <button type="button" class="btn btn-danger">Editar</button>
              </a>
              {% endif %}
            {% endif %}
            <a href="/voluntariado/{{ voluntariado.id }}/favo" class="btn btn-danger">
              Ver vaga {{ voluntariado.favoC }}
            </a>
          </div>
        </div>
      </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endblock %}  

