{% extends 'templade.html' %}
{% load bootstrap %}
{% load static %}
{% block publicar %}
{% for voluntariado in voluntario %}
<br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                   <b> <center>   {{ voluntariado.titulo }}</center></b>
                <br>
<br>
<b>Horário:</b>{{ voluntariado.horario}}
<br>
<b>Função:</b>{{ voluntariado.funcao }}
<br>
<b>Quantidade de vagas:</b>{{ voluntariado.qnt }}
<br>
<b>Tempo necessario:</b>{{ voluntariado.tempo }}
<br>
<b>Idade mínima:</b>{{ voluntariado.idademin }}
<br>
<b>Cidade:</b>{{ voluntariado.cidade }}
<br>
<b>Rua:</b>{{ voluntariado.rua }}
<br>
<b>Número:</b>{{ voluntariado.numero }}
<br>
<b>Bairro:</b>{{ voluntariado.bairro }}<br>
<b>Telefone:</b>{{ voluntariado.telefone }}<br><br>
                

 <div class="card-action">
         <a href="/voluntariado/{{ voluntariado.id}}/favo">ver vaga   {{ voluntario.favoC }}</a>
      


{% if request.user.is_authenticated %}

{% if user == voluntariado.user or perms.voluntariado.inst%}
<a href="/voluntariado/excluir/{{ voluntariado.id}}"><button type="submit"  class="btn mb-1 btn-rounded btn-success">EXCLUIR</button></a>
{%endif%}{%endif%}
{% if request.user.is_authenticated %}

{% if user == voluntariado.user or perms.voluntariado.inst%}
<a href="/voluntariado/editar/{{ voluntariado.id}}"><button type="submit" class="btn mb-1 btn-rounded btn-success">EDITAR</button></a>
{%endif%}{%endif%}
                </div></div>
        </div>
    </div>
</div>    
<br>  

{% endfor %}

{% endblock %}