{% if users %} 
  <ul>
    {% for user in users %}
      <li>
        {{ users.username }}
        {% with voluntario=user.voluntario %}

   
 <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-9">
            <div class="card">
              <div class="card-body">
                <h4 class="text-center mb-4">{{ user.titulo }}</h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Horário:</b> {{ user.horario }}</li>
                  <li class="list-group-item"><b>Função:</b> {{ user.funcao }}</li>
                  <li class="list-group-item"><b>Quantidade de vagas:</b> {{ user.qnt }}</li>
                  <li class="list-group-item"><b>Tempo necessário:</b> {{ user.tempo }}</li>
                  <li class="list-group-item"><b>Idade mínima:</b> {{ user.idademin }}</li>
                  <li class="list-group-item"><b>Cidade:</b> {{ user.cidade }}</li>
                  <li class="list-group-item"><b>Rua:</b> {{ user.rua }}</li>
                  <li class="list-group-item"><b>Número:</b> {{ user.numero }}</li>
                  <li class="list-group-item"><b>Bairro:</b> {{ user.bairro }}</li>
                  <li class="list-group-item"><b>Telefone:</b> {{ v.telefone }}</li>
                </ul>
       {% if request.user.is_authenticated %}
                        {% if perms.accounts.atual %}
                <div class="text-center my-4">
                  <a href="/voluntariado/{{ voluntariado.id }}/favo" class="btn btn-outline-danger"><i class="mdi mdi-heart-outline"></i>
                    Cadastrar <span class="badge bg-light">{{ voluntario.favoC }}</span>
                  </a>
                </div>
  {% endif %}  {% endif %}
        {% endwith %} 
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Nenhum usuário encontrado.</p>
{% endif %}
