{% load bootstrap %}
{% load static %}
{% block voluntario %} 


<form method="get" action="{% url 'postarTudo' %}">
  {{ form }}
  <button type="submit">Pesquisar</button>
</form>


{% for voluntariado in voluntario %}

    <br> <br> <br>
    


    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-9">
            <div class="card">
              <div class="card-body">
                <h4 class="text-center mb-4">{{ voluntariado.titulo }}</h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Horário:</b> {{ voluntariado.horario }}</li>
                  <li class="list-group-item"><b>Função:</b> {{ voluntariado.funcao }}</li>
                  <li class="list-group-item"><b>Quantidade de vagas:</b> {{ voluntariado.qnt }}</li>
                  <li class="list-group-item"><b>Tempo necessário:</b> {{ voluntariado.tempo }}</li>
                  <li class="list-group-item"><b>Idade mínima:</b> {{ voluntariado.idademin }}</li>
                  <li class="list-group-item"><b>Cidade:</b> {{ voluntariado.cidade }}</li>
                  <li class="list-group-item"><b>Rua:</b> {{ voluntariado.rua }}</li>
                  <li class="list-group-item"><b>Número:</b> {{ voluntariado.numero }}</li>
                  <li class="list-group-item"><b>Bairro:</b> {{ voluntariado.bairro }}</li>
                  <li class="list-group-item"><b>Telefone:</b> {{ voluntariado.telefone }}</li>
                </ul>
   {% if request.user.is_authenticated %}
                    {% if  perms.accounts.atual %}
                <div class="text-center my-4">
                  <a href="/voluntariado/{{ voluntariado.id }}/favo" class="btn btn-outline-danger"><i class="mdi mdi-heart-outline"></i>
                    Cadastrar <span class="badge bg-light">{{ voluntario.favoC }}</span>
                  </a>
                </div>
  {% endif %}  {% endif %}

              </div>
            </div>
            <br> <br> <br>
          </div>
        </div>
      </div>
      


{% endfor %}

{% endblock %}