<!--Tai-->
{% load static %}
{%load bootstrap%}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Sistema Dorcas</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/img2.png' %}">
        <!-- Pignose Calender -->
        <link href="{% static '/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
        <!-- Chartist -->
        <link rel="stylesheet" href="{% static '/plugins/chartist/css/chartist.min.css' %}">
        <link rel="stylesheet" href="{% static '/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
        <!-- Custom Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        

    </head> 

    <body style="background-color: #fff;">

        <!--*******************
            Preloader start
        ********************-->
        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <!--*******************
            Preloader end
        ********************-->

      {% include 'navBar.html' %} 
<br><br>
 <div class="container py-5">
    <div class="row">
     
    </div>

  

  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-12">
  
          <form method="get" action="{% url 'postarTudo' %}">
              <div class="form-row align-items-center mb-3">
                <div class="col">
                  {{ form|bootstrap }}
                </div>
            
            <button type="submit" class="btn btn-md" style="background-color: #F07054; border: 0%; color: white;">Pesquisar</button>
              </div>
            </form>
      </div></div>
    </div>



<div class="container">
    {% for voluntariado in voluntario %}
    {% if forloop.counter0|divisibleby:2 %}
      <div class="row">
    {% endif %}
   
<div class="col-lg-6 col-sm-12">
                   <div class="card">
 
  <div class="card-body">
    <center><h5 class="card-title" style="color: #F07054;">{{ voluntariado.titulo }}</h5></center><br>
    <p class="card-text">A instituição <b style="color: #705049;">{{voluntariado.user.username}}</b> oferece {{ voluntariado.qnt }} vagas para: <b>{{ voluntariado.funcao }}</b>.  </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Horário: {{ voluntariado.horario }}</li>
    <li class="list-group-item">Idade minima: {{ voluntariado.idademinima }} anos</li>
    <li class="list-group-item">Tempo necessário: {{ voluntariado.tempo }} dias</li>
    <li class="list-group-item">Contato: {{ voluntariado.telefone }}</li>
    <li class="list-group-item">Endereço: {{voluntariado.cidade}}, {{voluntariado.bairro}}, {{voluntariado.rua}}, {{voluntariado.numero}}</li>
     <li class="list-group-item"> {{ voluntariado.data }}</li>
  </ul>
  <div class="card-body">
    {% if request.user.is_authenticated %}
    {% if  perms.accounts.atual %}
    <b>    <a style="color: #F07054; float: right;" href="/voluntariado/{{ voluntariado.id }}/favo" class="card-link">

Quero me voluntariar
</b>
 
 </a>
    {% endif %}
    {% endif %}
   
  </div>
</div>
</div>
        
    {% if forloop.counter|divisibleby:2 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
                    </div></div>


<script src="{% static 'plugins/common/common.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static  'js/settings.js' %}"></script>
<script src="{% static 'js/gleek.js' %}"></script>
<script src="{% static 'js/styleSwitcher.js' %}"></script>

<!-- Chartjs -->
<script src="{% static '/plugins/chart.js/Chart.bundle.min.js' %}"></script>
<!-- Circle progress -->
<script src="{% static '/plugins/circle-progress/circle-progress.min.js' %}"></script>
<!-- Datamap -->
<script src="{% static '/plugins/d3v3/index.js' %}"></script>
<script src="{% static '/plugins/topojson/topojson.min.js' %}"></script>
<script src="{% static '/plugins/datamaps/datamaps.world.min.js' %}"></script>
<!-- Morrisjs -->
<script src="{% static '/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static '/plugins/morris/morris.min.js' %}"></script>
<!-- Pignose Calender -->
<script src="{% static '/plugins/moment/moment.min.js' %}"></script>
<script src="{% static '/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
<!-- ChartistJS -->
<script src="{% static '/plugins/chartist/js/chartist.min.js' %}"></script>
<script src="{% static '/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>

<script src="{% static '/js/dashboard/menor.js' %}"></script>

<script src="{% static '/js/dashboard/dashboard-1.js' %}"></script>

</html>