{% extends 'templade.html' %}
{% load bootstrap %}
{% load static %}
{% block voluntario %}
{% for voluntariado in voluntario %}

<br>
<div class="container">
    <div class="row">

<div class="col-lg-8 col-xl-9">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                <b> <center>   {{ voluntariado.titulo }}</center></b>
                <br>
<br>
<b>Horário:</b>{{ voluntariado.horario}}
<br>
<b>Função:</b>{{ voluntariado.funcao }}
<br>
<b>Quantidade de vagas:</b>{{ voluntariado.qnt }}
<br>
<b>Tempo necessario:</b>{{ voluntariado.tempo }}
<br>
<b>Idade mínima:</b>{{ voluntariado.idademin }}
<br>
<b>Cidade:</b>{{ voluntariado.cidade }}
<br>
<b>Rua:</b>{{ voluntariado.rua }}
<br>
<b>Número:</b>{{ voluntariado.numero }}
<br>
<b>Bairro:</b>{{ voluntariado.bairro }}<br>
<b>Telefone:</b>{{ voluntariado.telefone }}<br><br>
                
<br>                

    
      <b>   <a href="/voluntariado/{{ voluntariado.id}}/favo">Cadastrar   {{ voluntario.favoC }}</a></b>
      
    </div></div>
                </div></div>
       
    </div></div>
</div>  



{% endfor %}

{% endblock %}