{% load static %}
{%load bootstrap%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="{% static '/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static '/plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                
                        <div class="general-button">
                            <li>
                                <a href="/accounts/registrar"> <button type="button" class="btn mb-1 btn-primary">usuario</button> </a>
                            </li> </div></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                     
                                                <div class="general-button">
                                                    <li>
                                                        <a href="/accounts/instituicao"> <button type="button" class="btn mb-1 btn-primary">Instituicao</button></a>
                                                    </li> </div></div></div></div></div></div></div>
                        
    <!--*******************
        Preloader start

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
   
        Preloader end
    ********************-->

    <!--{% include 'nav.html' %}-->

   
    

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--{% block content %}
        {% endblock %}-->

        <br><center><h2><justify> <div class="general-button">
            <li>
                <a href="/accounts/login"> <button type="button" class="btn mb-1 btn-primary">Login</button></a>
            </li> 
        </center></h2></justify>

</body>

</html>
