{% load static %}
{%load bootstrap%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="{% static '/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static '/plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">General Buttons</h4>
                        <div class="general-button">
                            <li>
                                <a href="/accounts/registrar"> <button type="button" class="btn mb-1 btn-primary">usuario</button><i class="icon-user"></i> <span>Profile</span></a>
                            </li> </div></div></div></div></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">General Buttons</h4>
                                                <div class="general-button">
                                                    <li>
                                                        <a href="/accounts/instituicao"> <button type="button" class="btn mb-1 btn-primary">Instituicao</button><i class="icon-user"></i> <span>Profile</span></a>
                                                    </li> </div></div></div></div></div></div></div></div></div></div>
                        
    <!--*******************
        Preloader start

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
   
        Preloader end
    ********************-->

    <!--{% include 'nav.html' %}-->

   
    

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--{% block content %}
        {% endblock %}-->

        <br><center><h2><justify>Passagem padrão original de Lorem Ipsum, usada desde o século XVI.
            "Loremiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."</h2></justify></center>
     
        <!--**********************************
            Sidebar start
        ***********************************-->
       <!--{% include 'side.html' %}-->
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
 
        <!--**********************************
            Content body end
        ***********************************-->
        
        <!--**********************************
            Footer start
        ***********************************-->
        <!--{% include 'footer.html' %}-->
        <!--**********************************
            Footer end
        ***********************************-->    
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static  'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    <!-- Chartjs -->
    <script src="{% static '/plugins/chart.js/Chart.bundle.min.js' %}"></script>
    <!-- Circle progress -->
    <script src="{% static '/plugins/circle-progress/circle-progress.min.js' %}"></script>
    <!-- Datamap -->
    <script src="{% static '/plugins/d3v3/index.js' %}"></script>
    <script src="{% static '/plugins/topojson/topojson.min.js' %}"></script>
    <script src="{% static '/plugins/datamaps/datamaps.world.min.js' %}"></script>
    <!-- Morrisjs -->
    <script src="{% static '/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static '/plugins/morris/morris.min.js' %}"></script>
    <!-- Pignose Calender -->
    <script src="{% static '/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static '/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
    <!-- ChartistJS -->
    <script src="{% static '/plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static '/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>



    <script src="{% static '/js/dashboard/dashboard-1.js' %}"></script>

</body>

</html>
