<h1>Formulario perfil</h1>
<form method="post">
  {% csrf_token %}
  {{ form1.as_p }}

  <!-- Exiba erros de validação, se houver -->
  {% if form1.errors %}
    <div class="errors">
      {% for field in form1 %}
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  {% endif %}

  <button type="submit">Enviar Formulário 1</button>
</form>
  {% if perms.accounts.responsavelMenor %}
<h1>Formulario responsavel</h1>
<form method="post">
  {% csrf_token %}
  {{ form2.as_p }}

  <!-- Exiba erros de validação, se houver -->
  {% if form2.errors %}
    <div class="errors">
      {% for field in form2 %}
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  {% endif %}

  <button type="submit">Enviar Formulário 2</button>
</form>
{% else %}
    <h1>Você não precisa de responsavel.</h1>
{% endif %}