{% extends 'templade.html' %}
{% load static %}

{% block noti %}
  

<ul class="collection">
{% for notification in notifications %}
<br><br>
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-4">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Noti.</h4><h6> <i>data: {{ notification.data}}</i></h6>
    {% if notification.noti == 1 %}

       <li class="collection-item avatar">
        {% if perms.accounts.foto  %}
               {% if notification.sender.instituicao.banner %}
                    <img src="{{  notification.sender.instituicao.banner.url }}" width="80" height="80" class="circle responsive-img">
              {% endif %}
              {% if notification.sender.profile.banner %}
                    <img src="{{  notification.sender.profile.banner.url }}" width="80" height="80"  class="circle responsive-img">
              {% endif %}

        {% else %}
                <img src="{% static 'images/imgs/1.jpg' %}" class="circle responsive-img">
    {% endif %}


            <span class="title">{{ notification.sender.first_name }} {{ notification.sender.last_name }}</span>
            <p><b><a href="{{ notification.id }}">
        @{{ notification.sender.username }}</a> 
            </b></p>
        
          <p>Comentou: </p>
            <p style="font-style: italic;"><b>"interessados em voluntariado da vaga : <i>
                <a href="/voluntariado/{{ notification.voluntario.id }}">{{ notification.voluntario.titulo }}</i>"</b> </p>
            
              <!--<a href="/voluntariado/">Veja o post</a>-->
        </li>

 
  {% elif notification.noti == 2 %}
    <li class="collection-item avatar">
        {% if perms.accounts.foto  %}
               {% if notification.sender.instituicao.banner %}
                    <img src="{{  notification.sender.instituicao.banner.url }}" width="80" height="80" class="circle responsive-img">
              {% endif %}
              {% if notification.sender.profile.banner %}
                    <img src="{{  notification.sender.profile.banner.url }}" width="80" height="80"  class="circle responsive-img">
              {% endif %}

        {% else %}
                <img src="{% static 'images/imgs/1.jpg' %}" class="circle responsive-img">
    {% endif %}


            <span class="title">{{ notification.sender.first_name }} {{ notification.sender.last_name }}</span>
            <p><b><a href="{{ notification.id }}">
        @{{ notification.sender.username }}</a> 
            </b></p>
        
          <p>Comentou: </p>
            <p style="font-style: italic;"><b>"interessados em voluntariado da vaga : <i>
                <a href="/voluntariado/{{ notification.voluntario.id }}">{{ notification.voluntario.titulo }}</i>"</b> </p>
            
              <!--<a href="/voluntariado/">Veja o post</a>-->
        </li>
    {% else %}
    <li class="collection-item avatar">
        {% if notification.sender.profile.picture %}
            <img src="{{ notification.sender.profile.picture.url }}" class="circle responsive-img">
        {% else %}
            <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
        {% endif %}
            <span class="title">{{ notification.sender.first_name }} {{ notification.sender.last_name }}</span>
            <p><b>@{{ notification.sender.username }}</b></p>

          
        </li>
    {% endif %}   
</div></div></div></div></div>

    {% empty %}
    <div class="center-align">
        <br><br><br><br><br>
        <i class="material-icons large">inbox</i>
        <h3>Sem notificações</h3>
      
        <br><br><br><br><br>
    </div>

 
{% endfor %}
</ul>

{% endblock %}