<!--mexi nesse-->
{% load static %}
{%load bootstrap%}

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<title>Sistema Dorcas</title>
		<!-- Favicon icon -->
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/img2.png' %}">
		<!-- Pignose Calender -->
		<link href="{% static '/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
		<!-- Chartist -->
		<link rel="stylesheet" href="{% static '/plugins/chartist/css/chartist.min.css' %}">
		<link rel="stylesheet" href="{% static '/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
		<!-- Custom Stylesheet -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3 mt-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Resetar senha</h4>
            <form method="post" action="{% url 'password_reset' %}">
              {% csrf_token %}
              <div class="form-group">
                {{ form|bootstrap }}
              </div>
              <button type="submit" class="btn btn-danger btn-sm">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> 
</html>
