{% load static %}
{%load bootstrap%}
<!--
<form method="GET" action="{% url 'pesquisa' %}">
<input type="text" name="termo" placeholder="Digite sua pesquisa...">
    <select name="tipo">
        <option value="usuario">Usuário</option>
        <option value="produto">Produto</option>
        Adicione outras opções de pesquisa conforme necessário
    </select>
    <button type="submit">Pesquisar</button>
</form>-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Sistema Dorcas</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/img2.png' %}">
    <!-- Pignose Calender -->
    <link href="{% static '/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static '/plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static '/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #dd1727;">
    <div class="container">
      <a class="navbar-brand" href="#">Sistema Dorcas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item mb-0">
            <a class="nav-link text-white" href="/home/"><span class="mdi mdi-home-outline" style="font-size: 24px;" title="Home"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/noti/"><span class="mdi mdi-bell-outline" style="font-size: 24px;" title="Notificações">
              {% if request.user.is_authenticated %}
                {% if perms.accounts.inst %}
                  {{ contar }}
                {% endif %}
                {% if perms.accounts.atual %}
                  {{ somar }}
                {% endif %}
              {% endif %}
            </span></a>
          </li>
          {% if request.user.is_authenticated %}
            {% if perms.accounts.inst %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mdi mdi-account-multiple-plus" style="font-size: 28px;" title="Voluntário"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/voluntariado/newpost/"><i class="mdi mdi mdi-account-plus" style="font-size: 20px;"></i> Novo Voluntário</a>
                  <a class="dropdown-item" href="/doacao/adiciona/"><i class="mdi mdi-cash-multiple" style="font-size: 20px;"></i>Doação em Dinheiro</a>
                  <a class="dropdown-item" href="/doacao/criar/"><i class="mdi mdi-tag-plus" style="font-size: 20px;"></i> Nova Doação</a>
                  <a class="dropdown-item" href="/doacao/"><i class="mdi mdi-tag-heart" style="font-size: 20px;"></i> Realize Doações</a>
                  <a class="dropdown-item" href="/voluntariado/"><i class="mdi mdi-account-search" style="font-size: 20px;"></i> Vagas De voluntariado</a>
                  <a class="dropdown-item" href="/voluntariado/publicar/"><i class="mdi mdi-account-multiple" style="font-size: 20px;"></i> Minhas Vagas de voluntariado</a>
                  <a class="dropdown-item" href="/doacao/publicar/"><i class="mdi mdi-account-multiple" style="font-size: 20px;"></i> Minhas doações</a>
                  <a class="dropdown-item" href="/doacao/tabela/intituicao/"><i class="mdi mdi-tag-heart" style="font-size: 20px;"></i> Doações realizadas</a>
                  <a class="dropdown-item" href="/noti/tabela_notis/"><i class="mdi mdi-account-check" style="font-size: 20px;"></i> Voluntarios aceitos</a>
                </div>
              </li>
            {% endif %}
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Perfil">
              {% if user.profile.banner %}
                <img src="{{ user.profile.banner.url }}" alt="Foto de Perfil" width="40" height="40" class="mr-3 rounded-circle">
              {% else %}
                {% if user.instituicao.picture %}
                  <img src="{{ user.instituicao.picture.url }}" alt="Foto de Perfil" width="40" height="40" class="mr-3 rounded-circle">
                {% else %}
                  <img src="{% static 'images/user/dorcas.jpg'%}" alt="Foto de Perfil" width="40" height="40" class="mr-3 rounded-circle">
                {% endif %}
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.user.is_authenticated %}
                {% if perms.accounts.atual %}
                  <a class="dropdown-item" href="/accounts/perfil_user_simples/"><i class="mdi mdi-account" style="font-size: 20px;"></i> Ver Perfil</a>
                {% endif %}
                {% if perms.accounts.inst %}
                  <a class="dropdown-item" href="/accounts/perfil_instituicao/"><i class="mdi mdi-account" style="font-size: 20px;"></i> Ver Perfil</a>
                {% endif %}
              {% endif %}
              {% if request.user.is_authenticated %}
                {% if perms.accounts.inst %}
                  <a class="dropdown-item" href="/accounts/instituicao_profile/"><i class="mdi mdi-account-edit" style="font-size: 20px;"></i> Editar Perfil</a>
                {% endif %}
              {% endif %}
              <a class="dropdown-item" href="/accounts/logout/"><i class="mdi mdi-logout" style="font-size: 20px;"></i> Sair</a>
              <a class="dropdown-item" href="/accounts/pesquisar"><i class="mdi mdi-account-search" style="font-size: 20px;"></i> Pesquisa</a>
              <a class="dropdown-item" href="/accounts/sairConta/{{ user.id }}"><i class="mdi mdi-delete-empty" style="font-size: 20px;"></i> Excluir conta</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <div class="card border-danger">
          <div class="card-body">
            <form method="get" action="{% url 'search_users' %}">
              <div class="form-row align-items-center mb-3">
                <div class="col">
                  {{ form|bootstrap }}
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-danger">Pesquisar</button>
                </div>
              </div>
            </form>
            {% for instituicao in instituicao %}
              {% if instituicao.nome %}
                <p class="mb-0">
                  <strong>{{ instituicao.nome }} -</strong>
                  
                  <small>User: {{ instituicao.user.username }}</small> 
                  <br>
                  {{ instituicao.data }}
                </p>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</html>

<script src="{% static 'plugins/common/common.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static  'js/settings.js' %}"></script>
<script src="{% static 'js/gleek.js' %}"></script>
<script src="{% static 'js/styleSwitcher.js' %}"></script>

<!-- Chartjs -->
<script src="{% static '/plugins/chart.js/Chart.bundle.min.js' %}"></script>
<!-- Circle progress -->
<script src="{% static '/plugins/circle-progress/circle-progress.min.js' %}"></script>
<!-- Datamap -->
<script src="{% static '/plugins/d3v3/index.js' %}"></script>
<script src="{% static '/plugins/topojson/topojson.min.js' %}"></script>
<script src="{% static '/plugins/datamaps/datamaps.world.min.js' %}"></script>
<!-- Morrisjs -->
<script src="{% static '/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static '/plugins/morris/morris.min.js' %}"></script>
<!-- Pignose Calender -->
<script src="{% static '/plugins/moment/moment.min.js' %}"></script>
<script src="{% static '/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
<!-- ChartistJS -->
<script src="{% static '/plugins/chartist/js/chartist.min.js' %}"></script>
<script src="{% static '/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>

<script src="{% static '/js/dashboard/menor.js' %}"></script>

<script src="{% static '/js/dashboard/dashboard-1.js' %}"></script>

