<!--Tai-->
{% load static %}
{%load bootstrap%}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
           
        <title>Sistema Dorcas</title> 
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/img2.png' %}">
        <!-- Pignose Calender -->
        <link href="{% static '/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
        <!-- Chartist -->
        <link rel="stylesheet" href="{% static '/plugins/chartist/css/chartist.min.css' %}">
        <link rel="stylesheet" href="{% static '/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
        <!-- Custom Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    </head>

    <body style="background-color: #fff;">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #bd5942;">
        <div class="container">
          <a class="navbar-brand" href="#">Sistema Dorcas</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" href="/accounts/login">Login</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cadastre-se
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/accounts/usuarioForm"><i class="mdi mdi-account-plus" style="font-size: 23px;"></i> Cadastrar Usuário</a>
                  <a class="dropdown-item" href="/accounts/instituicao"><i class="mdi mdi-home" style="font-size: 23px;"></i> Cadastrar Instituição</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>      
      
      <div class="parallax-container">
        <div class="parallax" style="background-image: url('/static/images/instituicoes-doacao.jpg')"></div>
        <!-- Camada escura -->
        <div class="parallax-overlay"></div>
        <!-- Texto dentro do parallax -->
        <div class="parallax-text">Sistema Dorcas - Facilitando suas doações</div>
      </div>







<!--Tai-->

<div class="content">
    
      <div class="field field--name-field-body-paragraphs field--type-entity-reference-revisions field--label-hidden field--items">
              <div class="field--item">    <div class="paragraph-103461 paragraph paragraph--type--columns paragraph--view-mode--default" style="background-color: #bd5942;">
        <div class="container">
                            
            <div class="row justify-content-center field field--name-field-columns field--type-entity-reference-revisions field--label-hidden field--items">
                            <div style="align-self: flex-start" class="col col--column">    <div class="paragraph-103446 paragraph paragraph--type--column paragraph--view-mode--default">
                    
                        <div class="column-image column-float-animation field field--name-field-image-media field--type-entity-reference field--label-hidden field--item"><div>
  
  
            <div class="field field--name-field-media-image field--type-image field--label-hidden field--item">    <picture>
              <center>
                <img src="{% static 'images/imgs/ca1.jpg'%}" alt="Foto de Perfil" class="img-fluid rounded-circle" style="width: 200px; height: 200px;"></center>
              <source srcset="/sites/default/files/styles/responsive_tablet/public/2022-02/medalha-1%20%281%29.png?itok=cDXiCb9Z 1x" media="(min-width: 768px) and (max-width: 1199px)" type="image/png">
              <source srcset="/sites/default/files/styles/responsive_mobile/public/2022-02/medalha-1%20%281%29.png?itok=B8PgpVN7 1x" media="all and (max-width: 767px)" type="image/png">
                 

  </picture>

</div>
      
</div>
</div>
            
                        <div class="column-body field field--name-field-html-text field--type-text-long field--label-hidden field--item"><h4 class="text-align-center"><span class="text-white">Seu gesto faz muita diferença</span></h4>

<p class="text-align-center"><span class="text-white">Com um pequeno gesto, você pode fazer uma grande diferença! A doação é uma forma poderosa de impactar positivamente a vida de outras pessoas. </span></p>
</div>
            
            </div>
</div>
                            <div style="align-self: flex-start" class="col col--column">    <div class="paragraph-103451 paragraph paragraph--type--column paragraph--view-mode--default">
                    
                        <div class="column-image column-float-animation field field--name-field-image-media field--type-entity-reference field--label-hidden field--item"><div>
  
  
            <div class="field field--name-field-media-image field--type-image field--label-hidden field--item">    <picture>
              <center>
              <img src="{% static 'images/imgs/fome1.jpg'%}" alt="Foto de Perfil" class="img-fluid rounded-circle" style="width: 200px; height: 200px;"></center>

              <source srcset="/sites/default/files/styles/responsive_tablet/public/2022-02/medalha-22%20%281%29.png?itok=mOFKrAI4 1x" media="(min-width: 768px) and (max-width: 1199px)" type="image/png">
              <source srcset="/sites/default/files/styles/responsive_mobile/public/2022-02/medalha-22%20%281%29.png?itok=YnI4U6j2 1x" media="all and (max-width: 767px)" type="image/png">
               

  </picture>

</div>
      
</div>
</div>
      <div class="column-body field field--name-field-html-text field--type-text-long field--label-hidden field--item"><h4 class="text-align-center"><span class="text-white">Você pode salvar uma vida</span></h4>

<p class="text-align-center"><span class="text-white">Mesmo uma pequena doação pode ajudar a salvar a vida de uma criança que precisa de tratamento para desnutrição.</span></p>
</div>
            
            </div>
</div>
                            <div style="align-self: flex-start" class="col col--column">    <div class="paragraph-103456 paragraph paragraph--type--column paragraph--view-mode--default">
                    
                        <div class="column-image column-float-animation field field--name-field-image-media field--type-entity-reference field--label-hidden field--item"><div>
  
  
            <div class="field field--name-field-media-image field--type-image field--label-hidden field--item">    <picture>
                  <center>
              <img src="{% static 'images/imgs/lama1.jpg'%}" alt="Foto de Perfil" class="img-fluid rounded-circle" style="width: 200px; height: 200px;"></center>
              <source srcset="/sites/default/files/styles/responsive_tablet/public/2022-02/medalha-23%20%281%29.png?itok=V5l2LTJF 1x" media="(min-width: 768px) and (max-width: 1199px)" type="image/png">
              <source srcset="/sites/default/files/styles/responsive_mobile/public/2022-02/medalha-23%20%281%29.png?itok=xUtUt1gd 1x" media="all and (max-width: 767px)" type="image/png">
                 

  </picture>

</div>
      
</div>
</div>
            
                        <div class="column-body field field--name-field-html-text field--type-text-long field--label-hidden field--item"><h4 class="text-align-center"><span class="text-white">Apoie ações de emergência</span></h4>

<section><p class="text-align-center"><span class="text-white">As ações do UNICEF alcançam milhões de crianças vítimas da guerra com água potável, apoio psicossocial, serviços de saúde, educação e kits de higiene.</span></p>
</section></div>
            
            </div>
</div>
                    </div>
    
                    </div>
    </div>
</div>
       <br><br>
      <section class="container py-5">
            <div class="row">
              <div class="col-md-12">  <h2 class="mb-4" style="color: #bd5942;">Instituições de Caridade</h2></div>
              <div class="col-md-8">     <p style="font-size: 17px;">As instituições de caridade são organizações sem fins lucrativos que          
                  têm como objetivo ajudar pessoas que necessitam de assistência. Essas organizações realizam diversos tipos de ações, como doações de alimentos, roupas, medicamentos, entre outros.
                    Existem muitas instituições de caridade no mundo, cada uma com sua missão específica e público-alvo. <br><br>Algumas ajudam crianças em situação de risco, outras ajudam pessoas com doenças crônicas, e outras ainda ajudam animais abandonados.
                  Se você quer ajudar uma instituição de caridade, pode fazer uma doação em dinheiro, doar alimentos, roupas ou outros itens, ou até mesmo se voluntariar para trabalhar na organização.</p>
                </div>
                <div class="col-md-4">
                      <img src="{% static 'images/imgs/img3.jpg'%}" alt="Foto de Perfil" class="img-fluid"> 
                </div>
            </div>
          </section>    
          <br>
      <section class="container py-5">
            <div class="row">
              <div class="col-md-12">  <h2 class="mb-4" style="color: #bd5942;">Importância de Doar</h2></div>
              <div class="col-md-8">     <p style="font-size: 17px;">A doação é um ato significativo que tem o poder de transformar vidas e fazer a diferença em nossa sociedade. Ao doar, você contribui para causas nobres e ajuda a suprir necessidades básicas de pessoas e comunidades que enfrentam dificuldades. <br><br>Através da doação, é possível oferecer recursos financeiros, alimentos, roupas, medicamentos, materiais educacionais e diversos outros tipos de assistência. Esses recursos são essenciais para apoiar as instituições de caridade e permitir que elas continuem seu trabalho vital.<br><br>Além de beneficiar aqueles que recebem as doações, o ato de doar também traz benefícios pessoais. Ele promove um senso de gratidão, empatia e solidariedade, além de proporcionar a oportunidade de se envolver ativamente em causas importantes e fazer parte da construção de um mundo melhor.</p>
                </div>
                <div class="col-md-4">
                      <img src="{% static 'images/imgs/img4.jpg'%}" alt="Foto de Perfil" class="img-fluid"> 
                </div>
            </div>
          </section>    

         
          <br />
          <br />
           <section class="container py-5">
            <div class="row">
              <div class="col-md-12">  <h2 class="mb-4" style="color: #bd5942;">Projeto de Doação</h2></div>
              <div class="col-md-8">     <p style="font-size: 17px;">Nós acreditamos que a doação é uma das melhores formas de ajudar pessoas que estão em situação de vulnerabilidade social. Por isso, criamos o nosso projeto de doação, que tem como objetivo arrecadar recursos financeiros e materiais para instituições de caridade da nossa região.</p>
                </div>
                <div class="col-md-4">
                      <img src="{% static 'images/imgs/img5.jpg'%}" alt="Foto de Perfil" class="img-fluid"> 
                </div>
            </div>
          </section>    
          <br>

        
        <style>
            .parallax-container {
              position: relative;
              height: 500px; /* Ajuste a altura conforme necessário */
              overflow: hidden;
            }

            .parallax {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-size: cover;
              background-position: center;
              opacity: 0.9; /* Ajuste a opacidade conforme necessário */
              z-index: -1;
            }

            .parallax-overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.3); /* Ajuste a cor e a transparência conforme necessário */
            }

            .parallax-text {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 35px; /* Ajuste o tamanho da fonte conforme necessário */
              color: #fff; /* Ajuste a cor do texto conforme necessário */
              font-weight: bold;
              text-align: center;
              text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adicione sombra ao texto para melhor legibilidade */
            }

        </style>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


        <script src="{% static 'plugins/common/common.min.js' %}"></script>
        <script src="{% static 'js/custom.min.js' %}"></script>
        <script src="{% static  'js/settings.js' %}"></script>
        <script src="{% static 'js/gleek.js' %}"></script>
        <script src="{% static 'js/styleSwitcher.js' %}"></script>

        <!-- Chartjs -->
        <script src="{% static '/plugins/chart.js/Chart.bundle.min.js' %}"></script>
        <!-- Circle progress -->
        <script src="{% static '/plugins/circle-progress/circle-progress.min.js' %}"></script>
        <!-- Datamap -->
        <script src="{% static '/plugins/d3v3/index.js' %}"></script>
        <script src="{% static '/plugins/topojson/topojson.min.js' %}"></script>
        <script src="{% static '/plugins/datamaps/datamaps.world.min.js' %}"></script>
        <!-- Morrisjs -->
        <script src="{% static '/plugins/raphael/raphael.min.js' %}"></script>
        <script src="{% static '/plugins/morris/morris.min.js' %}"></script>
        <!-- Pignose Calender -->
        <script src="{% static '/plugins/moment/moment.min.js' %}"></script>
        <script src="{% static '/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
        <!-- ChartistJS -->
        <script src="{% static '/plugins/chartist/js/chartist.min.js' %}"></script>
        <script src="{% static '/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>

        <script src="{% static '/js/dashboard/menor.js' %}"></script>


        <script src="{% static '/js/dashboard/dashboard-1.js' %}"></script>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>