<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
          
            {% if request.user.is_authenticated %}
            {% if perms.accounts.atual %}
            <li><button onclick="menor()"  type="button" class="btn mb-1 btn-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Criar perfil</font></font></button></li>
            <p id="anos">null</p>
                   
            {% endif %}{% endif %}
            {% if request.user.is_authenticated %}
            {% if perms.accounts.inst %}

            <li>  <a href="/accounts/profile/"><button type="button" class="btn mb-1 btn-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Criar perfil</font></font></button></a></li>
            
                   
            {% endif %}{% endif %}
          
          
        </ul>
    </div>
</div>



<!-- BARRA LATERAL COM LINKS DE NAVEGAÇÃO  -->

<div class="content-body">

</div>