{% extends 'index.html' %}
{% load bootstrap %}
{% load static %}

{% block perfil %}


<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-4"> 
                            {% if user.profile.picture %}
                         
                    <img class="mr-3"  width="80" height="80" alt="" src="{{ user.profile.picture.url }}" class="circle responsive-img">
                      {% else %}
                        <img  class="mr-3"  width="80" height="80" alt="" src="{% static 'images/user/dorcas.jpg'%}">
                      {% endif %}
                            <div class="media-body">
                                <h3 class="mb-0">{{ user.instituicao.nome }}</h3>
                                <p class="text-muted mb-0">{{ user.instituicao.cidade }}</p>
                            </div>
                        </div>
                        
                        <div class="row mb-5">
                            <div class="col">
                                <div class="card card-profile text-center">
                                    <span class="mb-1 text-primary"><i class="icon-people"></i></span>
                                    <h3 class="mb-0">263</h3>
                                    <p class="text-muted px-4">Following</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-profile text-center">
                                    <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                    <h3 class="mb-0">263</h3>
                                    <p class="text-muted">Followers</p>
                                </div>
                            </div>
                            



                            {% if request.user.is_authenticated %}
                            {% if perms.accounts.inst %}
                            <div class="col-12 text-center">
                            <a href="/accounts/instituicao_profile" > <button type="button" class="btn btn-danger px-5">Editar Perfil</button></a>
                            </div>
                            {% endif %}{% endif %}
    
                        </div>
                   

                        <h4>Sobre mim</h4>
                        <p class="text-muted">{{ user.instituicao.bio }}</p>
                        <ul class="card-profile__info">
                            <li class="mb-1"><strong class="text-dark mr-4">Telefone</strong> <span>{{ user.instituicao.telefone }}</span></li>
                            <li><strong class="text-dark mr-4">Email</strong> <span>{{ user.instituicao.email }}</span></li>
                        </ul>
                    </div>
                </div>  
            </div>
   
<!--VOLUNTARIADO####################;##################################################-->

                <div class="col-lg-8 col-xl-9">
                    <div class="card">
                        <div class="card-body"><h5 class="mb-sm-0">Vagas de voluntario</h5><br>
                            <form action="#" class="form-profile">
                                <div class="form-group">
                                    <textarea class="form-control" name="textarea" id="textarea" cols="30" rows="2" placeholder="Post a new message"></textarea>
                                </div>
                                <div class="d-flex align-items-center">
                                    <ul class="mb-0 form-profile__icons">
                                        <li class="d-inline-block">
                                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-user"></i></button>
                                        </li>
                                        <li class="d-inline-block">
                                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-paper-plane"></i></button>
                                        </li>
                                        <li class="d-inline-block">
                                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-camera"></i></button>
                                        </li>
                                        <li class="d-inline-block">
                                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-smile"></i></button>
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary px-3 ml-4">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                



              


<br><br><br>

<!--DOAÇÃO##########################################-->


<div class="col-lg-8 col-xl-9">
    <div class="card">
        <div class="card-body">
            <form action="#" class="form-profile">
                <div class="form-group">
                    <textarea class="form-control" name="textarea" id="textarea" cols="30" rows="2" placeholder="Post a new message"></textarea>
                </div>
                <div class="d-flex align-items-center">
                    <ul class="mb-0 form-profile__icons">
                        <li class="d-inline-block">
                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-user"></i></button>
                        </li>
                        <li class="d-inline-block">
                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-paper-plane"></i></button>
                        </li>
                        <li class="d-inline-block">
                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-camera"></i></button>
                        </li>
                        <li class="d-inline-block">
                            <button class="btn btn-transparent p-0 mr-3"><i class="fa fa-smile"></i></button>
                        </li>
                    </ul>
                    <button class="btn btn-primary px-3 ml-4">Send</button>
                </div>
            </form>
        </div>
   


   
</div>
    </div>
</div>

             
    <!-- #/ container -->
</div>

{% endblock %}
