{% extends 'templade.html' %}
{% load bootstrap %}
{% load static %}

{% block perfil %}


<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
           
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-4"> 
                            {% if user.instituicao.picture %}
                         
                    <img class="mr-3"  width="80" height="80" alt="" src="{{ user.instituicao.picture.url }}" class="circle responsive-img">
                      {% else %}
                        <img  class="mr-3"  width="80" height="80" alt="" src="{% static 'images/user/dorcas.jpg'%}">
                      {% endif %}
                            <div class="media-body">
                                <h4 class="mb-0">{{ user.instituicao.nome }}</h4>
                                <p class="text-muted mb-0">{{ user.instituicao.cidade }}</p>
                            </div>
                        </div>
                        
                        <div class="row mb-5">
                            <div class="col">
                                <div class="card card-profile text-center">
                                    <span class="mb-1 text-primary"><i class="icon-people"></i></span>
                                    <h3 class="mb-0">263</h3>
                                    <p class="text-muted px-4">Following</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-profile text-center">
                                    <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                    <h3 class="mb-0">263</h3>
                                    <p class="text-muted">Followers</p>
                                </div>
                            </div>
                            {% if request.user.is_authenticated %}
                            {% if perms.accounts.inst %}
                            <div class="col-12 text-center">
                            <a href="/accounts/instituicao_profile" > <button type="button" class="btn btn-danger px-5">Editar Perfil</button></a>
                            </div>
                            {% endif %}{% endif %}
    
                        </div>
                   

                        <h4>Sobre mim</h4>
                        <p class="text-muted">{{ user.instituicao.bio }}</p>
                        <ul class="card-profile__info">
                            <li class="mb-1"><strong class="text-dark mr-4">Telefone</strong> <span>{{ user.instituicao.telefone }}</span></li>
                            <li><strong class="text-dark mr-4">Email</strong> <span>{{ user.instituicao.email }}</span></li>
                        </ul>
                    </div>
                </div>  
            </div>
   
<!--VOLUNTARIADO####################;##################################################-->


<br><br><br>

<!--DOAÇÃO##########################################-->


<div class="col-lg-8 col-xl-9">
    <div class="card">
        <div class="card-body">
            <h4>Novo Voluntario</h4>
            <br>
            <a href="/voluntariado/newpost/"><button type="button" class="btn mb-1 btn-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Novo Voluntario</font></font></button></a>
        </div>
           
        </div>
    
<div class="col-lg-8 col-xl-9">
    <div class="card">
        <div class="card-body">
            <h4>Ver Voluntario</h4>
            <br>
            <a href="/voluntariado/publicar/"><button type="button" class="btn mb-1 btn-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver Voluntario</font></font></button></a>
        </div>
           
        </div>

   
</div>


</div>
</div>

             
    <!-- #/ container -->
</div>

{% endblock %}
