<!--Não consegui entrar-->
{% load bootstrap %}
{% load static %}
{% load crispy_forms_tags %}
{% block criarDoacao %}

<body>
  <br><br>
  <div class="content-body">
    <div class="container-fluid">
        <div class="row">  
            <div class="col-md-10">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title text-center">Novo voluntário</h4>
                      <form method="post" enctype="multipart/form-data" action="" role="form">
                        {% csrf_token %}
                        {{ form|bootstrap }}    
                        <div class="col s12">
                          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                        </div>
                        <div class="field">
                          <p class="control">
                            <button type="submit"  class="btn btn-danger">Enviar</button> 
                          </p>
                        </div>
                      </form>
                  </div>
                </div>
                <br> <br><br>
            </div>
        </div>
      </div>
</body>


{% endblock %}