<!--Tai-->
{% load static %}
{%load bootstrap%}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Sistema Dorcas</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/img2.png' %}">
        <!-- Pignose Calender -->
        <link href="{% static '/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
        <!-- Chartist -->
        <link rel="stylesheet" href="{% static '/plugins/chartist/css/chartist.min.css' %}">
        <link rel="stylesheet" href="{% static '/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
        <!-- Custom Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        

    </head> 

    <body style="background-color: #fff;">

        <!--*******************
            Preloader start
        ********************-->
        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <!--*******************
            Preloader end
        ********************-->

      {% include 'navBar.html' %} 
<br><br>

  <div class="container mt-40">
        <div class="row justify-content-center">
          <div class="col-md-12">

<div class="table-responsive">

<table class="table table-bordered">
  <thead>
    <tr>      
     <td colspan="8" style="color: #bd5942;"><center>
      <b>Suas doações</b>
   </center>
    </td>

    </tr>
                    <tr>
                      <th scope="col">{{ tabela.doacao.titulo }}</th>
                      <th scope="col">Data de Postagem</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Data de Doação</th>
                    <th scope="col">Data de Entrega</th>
                    <th scope="col">Quantidade a Ser Doada</th>
                    </tr>
                  </thead>
                  <tbody>
    {% for tabela in tabela %}
    <tr>
                      <td>{{ tabela.doacao.titulo }}</td>
                      <td>{{ tabela.doacao.data }}</td>
                      <td>{{ tabela.doacao.categoria }}</td>
                      <td>{{ tabela.doacao.descricao }}</td>
                      <td>{{ tabela.sender.first_name }} {{ tabela.sender.last_name }}: @{{ tabela.sender.username }}</td>
                      <td>{{ tabela.data }}</td>
                      <td>{{ tabela.dataEntrega }}</td>
                      <td>{{ tabela.quantidade }}</td>
                      <td>
                        {% if request.user.is_authenticated and sender == doacao.sender %}
                        <a href="/doacao/doeEdit/{{ tabela.id }}" style="background-color: #677D69; border: 0%; color: white;" class="btn btn-md">Confirme a sua entrega</a>
                        {% endif %}
                         {% empty %}
     <tr>      
     <td colspan="9" style="color: black;"><center>
      Você ainda não realizou doações.
   </center>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table></div>
              </div>
            </div>
          </div>
           <br><br><br>

           <br><br><br>
    
</body>

     <script src="{% static 'plugins/common/common.min.js' %}"></script>
        <script src="{% static 'js/custom.min.js' %}"></script>
        <script src="{% static  'js/settings.js' %}"></script>
        <script src="{% static 'js/gleek.js' %}"></script>
        <script src="{% static 'js/styleSwitcher.js' %}"></script>

        <!-- Chartjs -->
        <script src="{% static '/plugins/chart.js/Chart.bundle.min.js' %}"></script>
        <!-- Circle progress -->
        <script src="{% static '/plugins/circle-progress/circle-progress.min.js' %}"></script>
        <!-- Datamap -->
        <script src="{% static '/plugins/d3v3/index.js' %}"></script>
        <script src="{% static '/plugins/topojson/topojson.min.js' %}"></script>
        <script src="{% static '/plugins/datamaps/datamaps.world.min.js' %}"></script>
        <!-- Morrisjs -->
        <script src="{% static '/plugins/raphael/raphael.min.js' %}"></script>
        <script src="{% static '/plugins/morris/morris.min.js' %}"></script>
        <!-- Pignose Calender -->
        <script src="{% static '/plugins/moment/moment.min.js' %}"></script>
        <script src="{% static '/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
        <!-- ChartistJS -->
        <script src="{% static '/plugins/chartist/js/chartist.min.js' %}"></script>
        <script src="{% static '/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>

        <script src="{% static '/js/dashboard/menor.js' %}"></script>
        <script src="{% static '/js/dashboard/dashboard-1.js' %}"></script>
</html>
      

