{% extends 'index.html' %}
{% load bootstrap %}
{% load static %}

{% block content %}


<div class="content-body">
<div class="container-fluid">
  <div class="row">  
    <div class="col-lg-12">
    <div class="card">
        <div class="card-body">
          <div class="card-body">
          <h4 class="card-title">Vertical Form</h4>
          <div class="basic-form">
<form method="post" enctype="multipart/form-data" action="" role="form">
  {% csrf_token %}

  {{ form | bootstrap }}
<br>


<button type="submit" class="btn btn-dark">Sign in</button>
              </form>
          </div>
      </div>  </div>
    </div>
</div></div></div></div></div>



{% endblock %}